.vehicles_section {

  .selection_div {
    width: 30%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    select {
      border: black solid 1px;
      border-radius: 5px;
      padding: 3px;
    }

    .reset_button {
      background-color: #1c2938;
      border: none;
      border-radius: 5px;
      padding: 10px 10px;
      width: fit-content;
      color: white;
    }
  }


}
